__pycache__
venv
.venv
vscode
.vscode
.pytest_cache
.ipynb_checkpoints
.env
*.key
*.db
*.log
*.ipynb
*.csv
*.sql
*.pgsql
*.test.*
.pytest_cache
*.bat
*.rar
.*/
emails.json
*.backup

# Dados de homologação do populate_db
/database/dev/data/*
