cryptography==45.0.4
nest_asyncio==1.6.0
requests==2.32.4
selenium==4.33.0
tzdata==2025.2
dotenv==0.9.9
SQLAlchemy==2.0.34
pydantic==2.8.2
uvicorn==0.35.0
fastapi==0.116.1
asyncpg==0.30.0
greenlet==3.2.4
psycopg2==2.9.10
greenlet==3.2.4
alembic==1.16.5
APScheduler==3.11.0
asyncpg==0.30.0
tqdm==4.67.1
lxml