POSTGRES_URL = 'postgresql+asyncpg://SERVER:PASSWORD@HOST:PORT/'
ALEMBIC_URL = 'postgresql+psycopg2://SERVER:PASSWORD@HOST:PORT/'
DB_NAME = 'DATABASE'

# OLIST
OLIST_AUTH_URL = 'https://accounts.tiny.com.br/realms/tiny/protocol/openid-connect'
OLIST_API_URL = 'https://api.tiny.com.br/public-api/v3'
OLIST_REDIRECT_URI = ''
OLIST_ENDPOINT_TOKEN = '/token'
OLIST_ENDPOINT_PRODUTOS = '/produtos'
OLIST_ENDPOINT_ESTOQUES = '/estoque'
OLIST_ENDPOINT_PEDIDOS = '/pedidos'
OLIST_ENDPOINT_NOTAS = '/notas'
OLIST_ENDPOINT_FINANCEIRO_RECEBER = '/contas-receber'
OLIST_ENDPOINT_FINANCEIRO_PAGAR = '/contas-pagar'
OLIST_ENDPOINT_SEPARACAO = '/separacao'
OLIST_OBS_MVTO_ESTOQUE = ''
OLIST_SIT_PEDIDO_CANCELADO = 2
OLIST_SIT_PEDIDO_INCOMPLETO = 8

# ECOMMERCE
BLZWEB_TAXA_ENVIO = # Float
BLZWEB_TAXA_COMISSAO = # Float

# BOT
OLIST_BOT_USERNAME = ''
OLIST_BOT_PASSWORD = ''
OLIST_URL_ERP = 'https://erp.tiny.com.br/'
OLIST_URL_ESTOQUE = 'https://erp.tiny.com.br/estoque?buscaid={:}&deposito=true'
OLIST_URL_CAD_PRODUTO = 'https://erp.tiny.com.br/produtos#edit/{:}'
OLIST_URL_RELATORIO_CUSTOS = 'https://erp.tiny.com.br/relatorio_custos_ecommerce'
OLIST_URL_CONTAS_RECEBER = 'https://erp.tiny.com.br/contas_receber'
OLIST_URL_GNRE = 'https://erp.tiny.com.br/gnre'
OLIST_URL_LOGOUT = 'https://erp.tiny.com.br/logout'
OLIST_TIMEOUT_LANCA_LOTES = 300

# OBJECTS
OBJECT_PRODUTO = 'src/json/produto.json'
OBJECT_ESTOQUE = 'src/json/estoque.json'

# SANKHYA
SANKHYA_URL_TOKEN = 'https://api.sankhya.com.br/login'
SANKHYA_URL_AUTH = ''
SANKHYA_APP_ID = # INT
SANKHYA_TABELA_RASTRO_PRODUTO = 'AD_OLISTRASTPRODUTO'
SANKHYA_TABELA_RASTRO_ESTOQUE = 'AD_OLISTRASTESTOQUE'
SANKHYA_VIEW_SALDO_ESTOQUE = 'AD_OLISTESTOQUE'
SANKHYA_TABELA_PRODUTO = 'AD_OLISTPRODUTO'
SANKHYA_TABELA_RELATORIO = 'AD_OLISTRELPEDIDOS'
SANKHYA_PATH_SCRIPT_SALDO_ESTOQUE = 'src/sql/buscar_estoque_atual.sql'
SANKHYA_PATH_SCRIPT_ESTOQUE_LOTE_LISTA = 'src/sql/buscar_saldo_por_lote_lista.sql'
SANKHYA_PATH_SCRIPT_ESTOQUE_LOTE_ITEM = 'src/sql/buscar_saldo_por_lote_item.sql'
SANKHYA_PATH_SCRIPT_ESTOQUE_LOCAL = 'src/sql/buscar_saldo_por_local.sql'
SANKHYA_PATH_SCRIPT_ESTOQUE_ECOMMERCE_LOTE = 'src/sql/buscar_saldo_ecommerce_por_lote.sql'
SANKHYA_PATH_SCRIPT_PEDIDO_TGFVAR = 'src/sql/buscar_nunota_nota.sql'
SANKHYA_PATH_SCRIPT_VLR_TRANSF_LISTA = 'src/sql/buscar_valor_transferencia_lista.sql'
SANKHYA_PATH_SCRIPT_VLR_TRANSF_ITEM = 'src/sql/buscar_valor_transferencia_item.sql'
SANKHYA_PATH_SCRIPT_AGUARDANDO_CONFERENCIA = 'src/sql/buscar_aguardando_conferencia.sql'
SANKHYA_PATH_SCRIPT_CONFERIDOS_PEDIDO = 'src/sql/buscar_itens_conferidos_pedido.sql'
SANKHYA_PATH_SCRIPT_CONFERIDOS_DIA = 'src/sql/buscar_itens_conferidos_dia.sql'
SANKHYA_PATH_SCRIPT_PRODUTO = 'src/sql/produto.sql'
SANKHYA_PATH_RELATORIO_SEPARACAO = "src/sql/buscar_rel_separacao.sql"
SANKHYA_CRITERIOS_NOTA_TRANSFERENCIA = "this.STATUSNOTA = 'A' AND TIPMOV = 'T' AND CODEMP = 1 AND CODEMPNEGOC = 31 AND TRUNC(DTNEG) = ?"
SANKHYA_URL_LOAD_RECORDS = 'https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json'
SANKHYA_URL_LOAD_VIEW = 'https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadView&outputType=json'
SANKHYA_URL_SAVE = 'https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=DatasetSP.save&outputType=json'
SANKHYA_URL_DELETE = 'https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=DatasetSP.removeRecord&outputType=json'
SANKHYA_URL_PEDIDO = 'https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.incluirNota&outputType=json'
SANKHYA_URL_PEDIDO_ALTERA_ITEM = 'https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.incluirAlterarItemNota&outputType=json'
SANKHYA_URL_CONFIRMA_PEDIDO = 'https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.confirmarNota&outputType=json'
SANKHYA_URL_FATURA_PEDIDO = 'https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=SelecaoDocumentoSP.faturar&outputType=json'
SANKHYA_URL_CANCELA_PEDIDO = 'https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.cancelarNota&outputType=json'
SANKHYA_URL_DBEXPLORER = 'https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=DbExplorerSP.executeQuery&outputType=json'

# SHOPEE
SHOPEE_HOST_URL = "https://partner.shopeemobile.com"
SHOPEE_PATH_AUTH = "/api/v2/shop/auth_partner"
SHOPEE_PATH_TOKEN = "/api/v2/auth/token/get"
SHOPEE_PATH_REFRESH_TOKEN = "/api/v2/auth/access_token/get"
SHOPEE_PATH_INCOME_DETAIL = "/api/v2/payment/get_income_detail"
SHOPEE_PATH_ESCROW_DETAIL = "/api/v2/payment/get_escrow_detail"

# APP
LOGGER_FORMAT = '%(asctime)s | %(levelname)s | %(name)s line:%(lineno)d >> %(message)s'
REQ_TIME_SLEEP = 1.5
SMTP_SERVER = ''
SMTP_PORT = 0
SENDER_MAIL = ''
SENDER_PASSWORD = ''
MAIL_SUBJECT = 'Olist - Erros de integração'
MAIL_COLOR = 'darkred'
BODY_HTML = 'src/services/corpo.html'
TO_DEFAULT = ''
HOST = ''
PORT = 0
TEMPO_HISTORICO_MINUTOS = 60
MINUTOS_JOB_PADRAO = 15
PATH_FERNET_KEY = 'keys/.fernet.key'
DIAS_LIMPA_CACHE = 7
API_TITLE = "Integrador Olist x Sankhya"
API_DESCRIPTION = "Integrador Olist x Sankhya"
API_VERSION = "1.0"

# TI EISEN - Samuel (11/09/2026)
# CONFIGURAÇÕES PARA AMBIENTE
SCHEDULER_ENABLE = 'false' # Ativa as rotinas automaticas
SANKHYA_APP_X_TOKEN = ''
